export const firebaseConfig = {
  apiKey: 'apiKey',
  authDomain: 'authDomain.firebaseapp.com',
  databaseURL: 'https://databaseURL.asia-southeast1.firebasedatabase.app',
  projectId: 'projectId',
  storageBucket: 'projectId.appspot.com',
  messagingSenderId: 'messagingSenderId',
  appId: 'appId',
  measurementId: 'measurementId',
}
